@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Nova+Square&display=swap");

:root {
  --main-color: rgb(0, 0, 0);
  --sec-color: rgb(32, 209, 43);
  --main-font: "Nova Square", sans-serif;
}

body {
  margin: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px 3fr 50px 1fr;
  place-items: center;
  background-color: var(--main-color);
  font-family: var(--main-font);
}

h1 {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 100;
  font-size: 3rem;
  color: var(--sec-color);
  -webkit-text-stroke: 1px black;
}

#info {
  font-family: var(--main-font);
  color: var(--sec-color);
}

#start-btn {
  background-color: var(--sec-color);
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: x-large;
  height: 50px;
  width: 300px;
  cursor: pointer;
}

#random-btn {
  cursor: pointer;
  background-color: var(--sec-color);
  font-family: var(--main-font);
  width: 100px;
  height: 50px;
}

.ctrl-btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#start-btn:hover,
#random-btn:hover {
  background-color: var(--sec-color);
  animation-name: tic;
  animation-duration: 0.3s;
  animation-timing-function: 1;
  transform: scale(1.02);
}

@keyframes tic {
  0% {
    background-color: rgb(40, 155, 47);
  }

  20% {
    background-color: rgb(26, 95, 30);
  }

  100% {
    background-color: var(--sec-color);
  }
}

#start-btn:active,
#random-btn:active {
  transform: translateY(4px);
  box-shadow: 0 5 px #666;
}

main {
  background-color: var(--text-other);
  height: 100%;
  width: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
}

.board {
  background-color: var(--bg-table);
  height: 70%;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid var(--sec-color);
}

.board-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell-container {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
}

.cell {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--main-color);
  border: 1px solid var(--sec-color);
  cursor: pointer;
  z-index: 1;
}

.hidden {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* pointer-events: none; */
}

.hidden.revealed {
  opacity: 1;
  pointer-events: auto;
}

#info {
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: var(--sec-color);
}

/* 
Ship color
*/

.ship {
  background-color: var(--sec-color);
}

.miss {
  background-color: blue;
}

.hit {
  background-color: rgb(244, 98, 98);
}
